<div class="col-md-6 offset-md-3">


    <form class="formNewService" [formGroup]="userForm" (ngSubmit)="onSubmit()" >
    <div class="container">

        <h2 >New Service</h2>
    </div>

        <div class="form-group">
            <div class="text-center">

            <label for="">Name</label>
            </div>
            <input type="text" #refName class="form-control" formControlName="name">

            <div *ngIf="userForm.controls['name'].hasError('required') && refName.touched" class="alert alert-danger">
                <p>Please enter a Service's Name</p>
            </div>


        </div>

        <div class="form-group">

            <div class="text-center">
            <label for="description">Description</label>
            </div>
            <textarea rows="4" id="description"  #refDescription refDescription.touched class="form-control" formControlName="description"></textarea>


            <div *ngIf="userForm.controls['description'].hasError('required') && refDescription.touched" class="alert alert-danger">
                <p>Please enter your Description</p>
            </div>

        </div>



        <div formGroupName="address">

                <div class="form-group">

                <div class="text-center">
                    <label for="">Category</label>
                </div>
                    <input type="text" class="form-control" formControlName="category">
                </div>

<!--                 <div class="form-group">
                    <label for="">Status</label>
                    <input type="text" class="form-control" formControlName="status">
                </div> -->


                <div class="form-group">
                    <div class="text-center">

                        <label for="sel1">Status</label>
                    </div>

                    <select class="form-control" formControlName="status" id="sel1">
                        <option  class="active">Active</option>
                        <option class="inactive">Inactive</option>

                  </select>
                </div>

                <div class="form-group">

                <div class="text-center">

                    <label for="">Coordinates</label>
                </div>
                    <input type="text" #refPostalcode   class="form-control" formControlName="coordinates">

                    <div *ngIf="userForm.controls['address'].controls['coordinates'].hasError('pattern') && refPostalcode.untouched" class="alert alert-danger">
                        <p>Please Postal code needs if format five numbers</p>
                    </div>

                </div>
        </div>



        <div class="text-center">
             <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary btn-sx btn-M"> Submit</button>
        </div>

    </form>



</div>
