.service {
  background-color: white;
  width: 100%;
  position: relative;
  overflow: hidden;
  position: relative;

  float: left;
  padding: 0;
  margin: 0;
}

.service:hover{
  box-shadow: 0 1px 5px 1px #cccccc;
}

.service h2 {
  padding: 0 30px 0;
  margin: 0;
  width: 95%;
  padding-top: 20px;
}

.description {
  padding: 10px 10px 0;

  margin: 0;
  width: 95%;	
  float: left;
}

.title {
    width: 90%;
    margin: 0 10 0 0%;
    float: left;
    padding: 0;
}

a{  
  padding: 0;
  margin: 0;
}

.box-info {
  margin-bottom: 100px;
}  


li {
  list-style: none;
}

agm-map {
  height: 300px;
  margin-top: 90px;
  margin-bottom: 90px;
}