<nav id="header-nav" class="navbar navbar-toggleable-sm navbar sticky-top navbar-light bg-lightbg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <div class="navbar-brand"><h2>geta</h2></div>


  <div class="collapse navbar-collapse col-sm-12 col-md-11" id="navbarSupportedContent">
    <ul id="nav-list" class="navbar-nav col-sm-12 col-md-12 mr-auto">



      <li  class="nav-item active p-2">

          <a class="nav-item nav-link" href="mainhome#about">About</a>
      </li>

      <li class="nav-item active p-2">
          <a class="nav-item nav-link" href="mainhome#services">Services</a>
      </li>

      <li class="nav-item active p-2">

          <a class="nav-item nav-link" href="#">Features</a>
      </li>

      <li class="nav-item active p-2">
          <a class="nav-item nav-link" href="mainhome#contacts">Contacts</a>

      </li>

      <li class="mr-auto p-2 col-md-6 col-sm-12">
        <div class="input-group">
          <input type="text" class="form-control col-md-9" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary fa fa-search" type="button"></button>
          </span>
          <button id="filter-button" class="btn btn-outline-success black-button" type="submit" (click)="toggle()">Filters</button>
        </div>
      </li>


       <li class="divider-10 hidden-sm-down"></li>

       <li class="nav-item active p-2">
         <a (click)="logOut();" *ngIf="isLoggedin" class="nav-link" [routerLink]="['/login']">logout <span class="sr-only">(current)</span></a>
       </li>

       <li class="nav-item active p-2">
         <a  *ngIf="isLoggedin" class="nav-link" [routerLink]="['/newservice']">AddService <span class="sr-only">(current)</span></a>
       </li>

       <li class="nav-item active p-2" *ngIf="!isLoggedin">
         <a class="nav-link" [routerLink]="['/register']">Register <span class="sr-only">(current)</span></a>
       </li>

       <li class="nav-item active p-2" *ngIf="!isLoggedin">
         <a class="nav-link" [routerLink]="['/login']">login <span class="sr-only">(current)</span></a>
       </li>

    </ul>

  </div>
</nav>

<div class="filters-box" *ngIf="opened">
  <select class="offset-sm-4 btn btn-outline-success black-button">
  <option>"hi"</option>
  <option>"hi you"</option>
</select>
</div>
