#header-nav {
  border-radius: 0;
  border: 0;
  background: black;
  color:white;
}

.filters-box {
  border-width: 1px;
  border-color: gray;
  background: white;
  color:black;
  padding-top: 10px;
  padding-bottom: 10px;
}

#filter-button {
  margin-left: 10px;
}


#nav-list a:hover {
  background: #E7E7E7;
  color:black;
}

.navbar-brand, .navbar-brand:hover {
  color:white;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
   cursor: default;
}



/*.navbar-button {*/
.nav-item .nav-link {
  color:white;
  /*font-weight: bold;*/
}

.divider-10{ 
  width:1px; 
  min-height:1px; 
  margin-top:10px; 
  margin-bottom:10px;  
  display:inline-block; 
  position:relative;
  color: white;
  background-color: white;
}

#header-nav {
/*      position: fixed;
      top: 0;
      z-index: 1;
*//*      left: 0;      
      right: 0;     
      bottom: 0;     
*/  }

.navbar-toggler {
  border-color: white;
}

.navbar-toggler .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: white;
}

.navbar-toggler:hover{
  background-color: white;  
}

.navbar-toggler:hover .icon-bar {
      background-color: black;
}

.navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px;
}

a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

body{
    padding:0;
    font-family: 'Open Sans',arial,helvetica,sans-serif;
    background-color: #CBC8CF;
}


.black-button{
  background-color: black;
  color:white;
  border-color: white;
  text-align: center;
}

.black-button:hover{
  background-color: white;
  color:black;
}

.navbar-collapse { max-width: 100% !important; }

.nav-item {
  text-align: center;
}