
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.down{
	/*position: relative;*/
  clear: both;
  /*margin-top: 0px;*/
  /*padding-top: 0px;*/
  /*overflow: visible;*/
  /*top:93%;*/
  bottom: 0;
}

.bg-lightgray
{

    background-color:black;
    /*border-radius: 10%;*/
}

.ftext {
   color:white;
}
