
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.down{

  clear: both;
  bottom: 0;
}

.bg-lightgray
{

    background-color:black;
    /*border-radius: 10%;*/
}

.ftext {
   color:white;
}
