
<div class="container-fluid site-footer bg-lightgray text-center">
  <!-- <h2>Panel Footer</h2> -->
  <div class="panel panel-default ">
    <div class="panel-heading copyrights">
       <p class="ftext">Geta © 2017, All Rights Reserved
       <br>
       <span class="ftext">Web Design By: Ronald A. Sulbaran S. and Julio Jaimes R.</span></p>
    </div>
    <div class="panel-body">Geta</div>
    <div class="panel-footer"> <a href='#'><i class="fa fa-twitch fa-1.5x fa-fw"></i></a>
              <a href='#'><i class="fa fa-facebook fa-1.5x fa-fw"></i></a>
              <a href='#'><i class="fa fa-twitter fa-1.5x fa-fw"></i></a>
              <a href='#'><i class="fa fa-youtube-play fa-1.5x fa-fw"></i></a>
              <a href='#'><i class="fa fa-rss fa-1.5x fa-fw"></i></a>
              <a href='#'><i class="fa fa-vine fa-1.5x fa-fw"></i></a>
              <a href='#'><i class="fa fa-flickr fa-1.5x fa-fw"></i></a>
              <a href='#'><i class="fa fa-linkedin fa-1.5x fa-fw"></i></a></div>
  </div>
</div>

