.service {
  background-color: white;
  width: 100%;
  position: relative;
  overflow: hidden;
  position: relative;

  float: left;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;

  border-radius: 10px;
}

.service:hover{
  box-shadow: 0 1px 5px 1px grey;
}

.service h2 {
  padding: 0 30px 0;
  margin: 0;
  width: 95%;
}

.description {
  padding: 10px 10px 0;

  margin: 0;
  width: 95%;
  float: left;
}

.title {
    width: 90%;
	font-size: 0.8em;
    margin: 0 10 0 0%;
    float: left;
    padding: 0;
    padding-top: 20px;
}

.active-indicator {
    margin: 0 0 0 90%;
    width: 10%;
    background: #2A8220;/*#65F954;*/
    padding:5px 5px 5px 5px;
    text-align: center;
    color:white;
    font-weight: bold;
 }

a{
  padding: 0;
  margin: 0;
}

#box-link {
        width: 100%;
        height: 100%;
        /*top: 0;*/
        /*left: 0;*/
        text-decoration: none; /* No underlines on the link */
        /*color:none;*/
        background-color: black; /* Fix to make div clickable in IE */
        opacity: 0; /* Fix to make div clickable in IE */
        filter: alpha(opacity=1); /* Fix to make div clickable in IE */
        color:inherit;
}


li {
  list-style: none;
}